 <nav>
    <div class="container">
        <div class="nav-wrapper">
          <div class="s12 m12 l12 xl12">
            <a routerLink="/dashboard" class="brand-logo center">
              <img src="../../../assets/icone_file/logo.png " alt="logo" style="height: 65px;" />
            </a>
            <ul  class="right hide-on-med-and-down">
              <li>
                <a routerLink="/archiver"  class="btn tooltipped btn-floating green darken-2 pulse"
                   data-position="right" data-tooltip="archiver un fichier">
                  <i class="material-icons left">add</i></a>
              </li>
            </ul>
            <a href="" data-target="mobile-nav" class="sidenav-trigger show-on-large left">
              <i class="material-icons">menu</i></a>
            <!-- Sidenav menu du projet SenAdmin -------------------------------------------------------------->
          </div>

            <ul id="mobile-nav" class="sidenav">
                <li>
                  <div class="user-view  darken-4 z-depth-1" style="background: #01170c">
                    <div>
                      <span class="right green-text"><i class="fa fa-circle"></i> en ligne</span>
                    </div>
                      <div class="col s12">
                        <img [src]="utilisateur.photo" style="width: 95px; height: 95px;" class="center-block responsive-img circle" alt="">
                      </div>
                      <div class="col s8">
                         <span class="nom text-center">{{ utilisateur.prenom }} {{ utilisateur.nom | uppercase}} </span>
                        <br/>
                        Matricule : <span class="green-text">{{utilisateur.matricule}}</span>
                        <br/>
                        Département : <span class="green-text">{{utilisateur.departement.nomDepartement}}</span>
                      </div>
                  </div>
                 </li>
                 <li>
                   <a href=""  class="white-text hoverable" routerLink="/dashboard">
                      <i class="material-icons white-text">dashboard</i>
                      Tableau de bord
                    </a>
                  </li>
                 <li>
                   <a href=""  class="white-text hoverable"  routerLink="/archive">
                     <i class="material-icons white-text">file_present</i>
                       Gestion d'archives
                   </a>
                   </li>
                 <li *ngIf="utilisateur.departement.nomDepartement == 'RH' ">
                     <a href="" class="white-text hoverable" routerLink="/rh">
                         <i class="material-icons white-text">filter_hdr</i>
                         Gestion RH
                    </a>
                 </li>
                 <li>
                     <a href="" class="white-text hoverable" routerLink="/departement" >
                         <i class="material-icons white-text">person_identity</i>
                         Administration
                     </a>
                   </li>

                <li>
                   <a class="supheader white-text hoverable" routerLink="/parametre">
                       <i class="material-icons white-text">settings</i>
                       Parametres
                   </a>
                </li>
                <li>
                   <a (click)="onlogout()" class="waves-effect white-text hoverable">
                       <i class="material-icons white-text">logout</i>
                        Déconnexion
                   </a>
                </li>
              <li>
                <div class="divider grey"></div>
              </li>
               </ul>
           </div>
       </div>
   </nav>
<router-outlet></router-outlet>
