<app-navbar></app-navbar>
<section>
  <div class="row" style="display: flex; justify-content: center;">
    <div class="col s12">
      <p>Les contrats de : <b> {{prenom}} </b>  <b> {{nom | uppercase}} </b></p>
      <div class="col s12 card" style="display: flex;flex-direction: row; justify-content: space-between">
        <h6><b><i class="fa fa-file-o"></i> Contrat</b></h6>
        <h6><b><i class="fa fa-sort-numeric-asc"></i> Numéro</b></h6>
        <h6><b><i class="fa fa-file-pdf-o"></i> Type de Contrat</b></h6>
        <h6><b><i class="fa fa-clock-o"></i> Date de début</b></h6>
        <h6><b><i class="fa fa-clock-o"></i> Date de fin</b></h6>
      </div>
      <div class="col s12 card hoverable" style="display: flex;
                                                flex-direction: row;
                                                justify-content: space-between"
      *ngFor="let contrat of listeContrat">
        <img src="../../../assets/icone_file/fichier.png" alt="sdklfn" style="width: 25px;height: 25px;margin-top: 8px"/>
        <h6>{{contrat.numeroContrat}}</h6>
        <h6>{{contrat.typeContrat.libelleTypeContrat}}</h6>
        <h6>{{contrat.dateDebut | date:'dd/MM/yyyy'}}</h6>
        <h6>{{contrat.dateFin | date:'dd/MM/yyyy' }}</h6>
      </div>
    </div>
  </div>

</section>
