<app-navbar></app-navbar>
<div class="container">
  <div class="card-panel" style="border-radius: 20px;">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()" enctype="multipart/form-data">
      <div *ngIf="step == 1">
        <h5>Information personnelles</h5>
        <div class="row">
           <div class="col blue-grey darken-4 s12" style="border-radius: 20px;">
             <div class="input-field col l4">
               <img [src]="imgURL" alt="kds" class="responsive-img "
               style="width: 128px; height: 128px;"/>
               <input type="file" formControlName="photo" (change)="onSelectFile($event)">
             </div>
             <div class="input-field col l4">
               <i class="material-icons prefix white-text">person</i>
               <input type="text" id="nom" formControlName="nom" class="white-text" required>
               <label for="nom" class=" white-text"><span class="red-text">*</span>Nom</label>
             </div>
             <div class="input-field col l4">
               <i class="material-icons prefix white-text">person</i>
               <input type="text" id="prenom" class="white-text" formControlName="prenom" required>
               <label for="prenom" class="white-text"><span class="red-text">*</span>Prenom</label>
             </div>
             <div class="input-field col s6 center-align" >
               <div class="col s3">
                 <p class="white-text"><span class="red-text">*</span>Sexe</p>
                   <div>
                     <label>
                       <input value="M" formControlName="sexe" type="radio" [attr.checked]="true" (change)="activeNombreFemme=true"/>
                       <span class="white-text">Homme</span>
                     </label>
                   </div>
                   <div style="margin-top: 15px">
                     <label>
                       <input value="F" formControlName="sexe" type="radio" (change)="activeNombreFemme=null" />
                       <span class="white-text">Femme</span>
                     </label>
                   </div>
               </div>
               <div class="col s9">
                 <p class="white-text right-align" ><span class="red-text">*</span>Situation Matrimoniale</p>
                   <div class="right-align">
                     <label>
                       <input value="C" formControlName="situationMatri" type="radio" checked />
                       <span class="white-text">Célibatire</span>
                     </label>
                   </div>
                   <div class=" right-align" style="margin-top: 15px">
                     <label>
                       <input  value="M" formControlName="situationMatri" type="radio" />
                       <span class="white-text">Marié(e)</span>
                     </label>
                   </div>
               </div>
             </div>
             <div class="input-field col l6" style="margin-top: 30px;">
               <i class="material-icons prefix white-text">email</i>
               <input type="text" id="email" class="white-text " formControlName="email">
               <label for="email"  class="white-text"><span class="red-text">*</span>Email</label>
             </div>
             <div class="input-field col l6" style="margin-top: 30px;">
               <i class="material-icons prefix white-text">phone</i>
               <input type="text" id="telephone" class="white-text" formControlName="telephone">
               <label for="telephone" class="white-text"><span class="red-text">*</span>Telephone</label>
             </div>
             <div class="input-field col l6" style="margin-top: 30px;">
               <i class="material-icons prefix white-text">people</i>
               <input type="number" min="0" value="0" id="nb_enfant" class="white-text" formControlName="nombreEnfant">
               <label for="nb_enfant" class="white-text"><span class="red-text">*</span>Enfants</label>
             </div>
             <div class="input-field col l6" style="margin-top: 30px;">
               <i class="material-icons prefix white-text">people</i>
               <input type="number" min="0" value="0" id="nb_femme" class="white-text" formControlName="nombreFemme" [attr.disabled]="!activeNombreFemme ? true : null">
               <label for="nb_femme" class="white-text"><span class="red-text">*</span>Femme(s)</label>
             </div >
             <div class="input-field col s6" style="margin-top: 30px;">
               <i class="material-icons prefix white-text">home</i>
               <input type="text" id="adresse" class="white-text" formControlName="adresse">
               <label for="adresse" class="white-text"><span class="red-text">*</span>Adresse</label>
             </div>
             <div class="input-field col s6" style="margin-top: 30px;">
               <input type="date" id="detenaissance" class="white-text" formControlName="dateDeNaissance">
               <label for="detenaissance" class="white-text"><span class="red-text">*</span>Date de naissance</label>
             </div>
             <div class="col s6" style="margin-bottom: 60px"></div>
           </div>
        </div>
      </div>
      <div class="" *ngIf="step == 2">
        <h5>Information personnelles</h5>
        <div class="row">
          <div class="col blue-grey darken-4 s12" style="border-radius: 20px;">
            <div class="input-field col l6">
              <i class="material-icons prefix white-text">code</i>
              <input type="text" id="matricule" class="white-text" formControlName="matricule">
              <label for="matricule" class="white-text"><span class="red-text">*</span>Matricule</label>
            </div>
            <div class="input-field col l6">
              <i class="material-icons prefix white-text">paid</i>
              <input type="number" min="0" id="salaire" value="0" class="white-text" formControlName="salaire">
              <label for="salaire" class="white-text"><span class="red-text">*</span>Salaire</label>
            </div>
            <div class="input-field col l6" style="margin-top: 35px;">
              <i class="material-icons prefix white-text">lock</i>
              <input type="number" id="cni" class="" formControlName="cin">
              <label for="cni" class="white-text"><span class="red-text">*</span>CNI</label>
            </div>
            <div class="input-field col l6" style="margin-top: 35px;">
              <input type="date" id="date_embauche" class="white-text" formControlName="dateEmbauche">
              <label for="date_embauche" class="white-text"><span class="red-text">*</span>Date d'embauche</label>
            </div>
            <div class="input-field col s8" style="margin-top: 20px;">
              <p class="white-text" style="margin-left: 60px">
                <span class="red-text">*</span>Type de contrat</p>
             <div style="display: flex; flex-direction: row; justify-content: space-around">
               <label *ngFor="let type of listeTypeContrat">
                 <input  [value]="type" formControlName="typeDeContrat" (change)="type.libelleTypeContrat == 'CDI'? activeDatefin = true : activeDatefin = null" type="radio" checked/>
                 <span class="white-text" >{{type.libelleTypeContrat}}</span>
               </label>
             </div>
            </div>
            <div class="input-field col l6" style="margin-top: 45px;">
              <input type="date" name="dateDebutContrat" formControlName="dateDebutContrat" id="dateDebutContart" class="white-text" >
              <label for="date_embauche" class="white-text"><span class="red-text">*</span>Date début contrat</label>
            </div>
            <div class="input-field col l6" style="margin-top: 45px;"  [attr.hidden]="activeDatefin">
              <input type="date" name="dateFinContrat"  formControlName="dateFinContrat" id="dateDinContrat" class="white-text" >
              <label for="date_embauche" class="white-text"><span class="red-text">*</span>Date Fin contrat</label>
            </div>
            <div class="input-field col l6" style="margin-bottom: 50px;margin-top: 30px;">
              <label for="departement"></label>
              <select formControlName="departement" name="departement" id="departement" class="browser-default col l6" style="font-weight: bold;margin-top: 10px;">
                <option value="" disabled selected>DEPARTEMENT</option>
                <option *ngFor="let departement of listeDepartement" [ngValue]="departement">
                 {{ departement.nomDepartement }} <i class="black-text fa fa-building-o"></i>
                </option>
              </select>
            </div>
            <div class="col s6" style="margin-bottom: 60px"></div>
          </div>
        </div>
      </div>
      <div class="center" style="margin-top: 15px;">
        <button  (click)="onPrevious()" type="button"
                 *ngIf="step != 1" class="btn green waves-effect" style="border-radius: 100px;">
          <i class="material-icons left">chevron_left</i>
          PRECEDENT
        </button>
        <button (click)="onNext()" type="submit" *ngIf="step < 2" class="btn darken-4 green waves-effect" style="border-radius:100px;margin-left:10px;">
          <i class="material-icons right">chevron_right</i>
          SUIVANT
        </button>
        <button type="submit" *ngIf="step == 2" class="btn green waves-effect pulse"  style="border-radius:100px;margin-left:10px;">
          <i class="material-icons right">save</i>
          VALIDER
        </button>
      </div>
    </form>
  </div>
</div>
