<app-navbar></app-navbar>

<div class="section">
  <h2 class="center grey-text text-darken-4"
      style="font-family: 'Times New Roman', Times, serif;
      font-weight:bold">
    BIENVENU SUR <span class="indigo-text text-darken-4">OWATRANS</span>
  </h2>
  <div class="carousel">
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large green-text text-darken-4">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Archive"
           class="btn green darken-4 btn-large hoverable pulse"
           style="border-radius:100px;">
          Comptabilité
        </a>
      </div>
    </a>
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large yellow-text text-darken-4">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Univers-seneau"
           class="btn yellow darken-4 btn-large hoverable pulse"
           style="border-radius:100px;">
          R.humaines
        </a>
      </div>
    </a>
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large red-text text-darken-4">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Univers-seneau"
           class="btn red darken-4 btn-large hoverable pulse"
           style="border-radius:100px;">
          C.gestion
        </a>
      </div>
    </a>
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large cyan-text text-darken-2">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Univers-seneau"
           class="btn cyan darken-2 btn-large hoverable pulse"
           style="border-radius:100px;">
          T.Logistique
        </a>
      </div>
    </a>
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large indigo-text text-darken-4">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Univers-seneau"
           class="btn indigo darken-4 btn-large hoverable pulse"
           style="border-radius:100px;">
          T.Personnel
        </a>
      </div>
    </a>
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large white-text">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Archivage" class="btn grey darken-4 btn-large hoverable pulse"
           style="border-radius:100px;">
          Technique
        </a>
      </div>
    </a>
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large white-text">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Archive" class="btn green darken-2 btn-large hoverable pulse"
           style="border-radius:100px;">
          Achat&App
        </a>
      </div>
    </a>
    <a class="carousel-item card-panel grey darken-4" style="">
      <div class="center">
        <i class="material-icons large white-text">home</i>
      </div>
      <div class="center">
        <a href="" routerLink="/Univers-seneau" class="btn green darken-2 btn-large hoverable pulse"
           style="border-radius:100px;">
          Secretariat
        </a>
      </div>
    </a>
  </div>
</div>
<!--
    section pour le chargement -->
<div class="preloader-wrapper white medium active" id="loading">
  <div class="spinner-layer spinner-white-only">
    <div class="circle-clipper left green darken-4">
      <!-- <div class="circle"></div> -->
    </div>
    <div class="gap-patch">
      <!-- <div class="circle"></div> -->
    </div>
    <div class="circle-clipper right grey darken-4">
      <!-- <div class="circle"></div> -->
    </div>
  </div>
</div>

