<app-navbar></app-navbar>

<div class="container-fluid">
  <ul class="breadcrumbs">
    <li><a class="green-text" routerLink="/archive">Départements</a></li>
  </ul>
</div>

<!-- section des statistiques -->
<div class="container section">

  <div class="row">
    <a *ngFor="let departement of listeDepartement let i = index" [queryParams]=""
       class="col m3 l3 s12 tab card-panel transparent hoverable center-align"
       routerLink="/dossier">
      <img src="../assets/icone_file/departemen.png" alt="departement" style="height: 170px; width:170px;"/>
      <p class="grey-text text-darken-4 active" id="Tab"
         style="font-weight:bold;border-radius:100px">{{ departement.nomDepartement }}</p>
    </a>
  </div>

</div>
