<app-navbar></app-navbar>

<div class="container-fluid red">
  <div>
    <ul class="breadcrumbs">
      <li><a  routerLink="/archive" class="white-text">Type archive</a></li>
      <li><a routerLink="/dossier" [queryParams]="{type: nomTypeArchive}" class="white-text">{{ nomTypeArchive | lowercase}}</a></li>
      <li><a routerLink="/nature"  [queryParams]="{dossier: nomDossier,typeArchive:nomTypeArchive}" class="white-text">{{ nomDossier | lowercase}}</a></li>
      <li><a routerLink="/fichier" [queryParams]="{nature:natureArchive,dossier:nomDossier,typeArchive:nomTypeArchive}" class="green-text">{{ natureArchive | lowercase}}</a></li>
    </ul>
  </div>
</div>

<!--<div class="container-fluid white" style="display: flex;flex-direction: row;justify-content: space-between">-->
<!--  -->
<!--</div>-->

  <!--Nos utilisateurs -------------------------------------------------------------------->
<div class="row">
  <div class="col s11">
    <div class="row">
      <div *ngFor="let fichier of listeFichier let i = index" class="card col s12 m2 l2" style="margin-left: 5px">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <a href="{{fichier.urlFichier}}" class="card-image waves-effect waves-block waves-light black-text" target="_blank">
          <img *ngIf="fichier.extension == 'pdf'"   class="center-block" src="../../../assets/icone_file/pdf.png" alt="ffichier" style="height: 100px;width: 100px;margin-top: 10px;">
          <img *ngIf="fichier.extension == 'docx'"  class="center-block" src="../../../assets/icone_file/word.png" alt="ffichier" style="height: 100px;width: 100px;margin-top: 10px;">
          <img *ngIf="fichier.extension == 'pptx'"  class="center-block" src="../../../assets/icone_file/power%20.png" alt="ffichier" style="height: 100px;width: 100px;margin-top: 10px;">
          <img *ngIf="fichier.extension == 'xlsx'"  class="center-block" src="../../../assets/icone_file/excel.png" alt="ffichier" style="height: 100px;width: 100px;margin-top: 10px;">
          <img *ngIf="fichier.extension == 'png'
                   || fichier.extension == 'jpg'
                   || fichier.extension == 'jpeg'"  class="center-block" src="../../../assets/icone_file/img.png" alt="ffichier" style="height: 100px;width: 100px;margin-top: 10px;">
          <img *ngIf="   fichier.extension != 'pdf'
                      && fichier.extension != 'docx'
                      && fichier.extension != 'pptx'
                      && fichier.extension != 'xlsx'
                      && fichier.extension != 'png'
                      && fichier.extension != 'jpg'
                      && fichier.extension != 'jpeg'"  class="center-block" src="../../../assets/icone_file/new.png" alt="ffichier" style="height: 100px;width: 100px;margin-top: 10px;">

          <p class="little-text">Nom : <b>{{fichier.nomFichier.substr(0,25)}}</b></p>
          <p class="little-text">Numero : <b>{{fichier.numeroArchivage}}</b></p>
          <p class="little-text">
            <i class="fa fa-clock-o"></i>
            Date : <b>
            {{fichier.dateArchivage | date:'dd/MM/yyyy' }}  a
            {{fichier.dateArchivage | date:'h:mm' }}</b>
          </p>
        </a>

        <div class="card-reveal">
          <span class="card-title titre-info">INFOS<i class="material-icons right">close</i></span>
          <p class="little-text"><b>titre</b>  : {{fichier.nomFichier}}</p>
          <p class="little-text"><b>nature</b> : {{fichier.nature.libelleNature}}</p>
          <p class="little-text"><b>numero</b> : {{fichier.numeroArchivage}}</p>
          <p class="little-text"><b>date publication</b> :  {{fichier.dateArchivage | date:'dd/MM/yyyy' }}
                             {{fichier.dateArchivage | date:'h:mm:ss' }}</p>

          <div class="col s6 l12 m12" style="margin-bottom: 10px;padding-top: 15px;">
            <button (click)="allertSupprimerFichier(fichier.id)" class="btn-floating btn-small waves-effect waves-light red"><i class="fa fa-trash"></i></button>
            <a style="margin: 10px;" class="btn-floating btn-small waves-effect waves-light orange"><i class="fa fa-pencil"></i></a>
            <a href="{{fichier.urlFichier}}" target="_blank" class="btn-floating btn-small waves-effect waves-light green"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

