<app-navbar></app-navbar>

<div class='content-wrapper'>
  <div class='navmenu'>
    <form  autocomplete='off' id='search-form' method='get' style="margin-top: 5px;margin-bottom: 10px;margin-right: 10px;">
      <label>
        <input name='q' class="black-text" placeholder='Saisir le nom du fichier...' size='15' type='text'/>
      </label>
      <input id='button-submit' type='submit' value='Rechercher'/>
    </form>
    <nav itemprop='mainEntity' itemscope='itemscope' style="background: whitesmoke">
      <ul>
        <li><a routerLink="/archive"[queryParams]="{departement: departement.nomDepartement}"
               class="green-text"><b>Type Archive |</b> </a></li>
        <li><a routerLink="/dossier" [queryParams]="{type: nomTypeArchive}"
               class="green-text"><b>{{ nomTypeArchive | lowercase}} | </b></a></li>
        <li><a routerLink="/nature"
               [queryParams]="{dossier: nomDossier,typeArchive:nomTypeArchive}" class="green-text">
          <b>{{ nomDossier | lowercase}} |</b> </a></li>
        <li><a routerLink="/dossier" [queryParams]="{type: nomTypeArchive}"
               class="black-text"><b>{{ natureArchive | lowercase}}  </b></a></li>
      </ul>
    </nav>
  </div>
</div>


<!--<div class="container-fluid white" style="display: flex;flex-direction: row;justify-content: space-between">-->
<!--  -->
<!--</div>-->





<div class="tab_container">

  <section id="content1" class="tab-content">
    <div class="row">
      <div *ngFor="let fichier of listeFichier let i = index" class="card">
        <div class="col s12 m4 l2 center">
          <div class="card-panel">
            <a href="{{fichier.urlFichier}}" target="_blank">
              <img *ngIf="fichier.extension == 'pdf'"   class="center-block" src="../../../assets/icone_file/pdf.png" alt="ffichier" style="width: 80px; height: 80px;">
              <img *ngIf="fichier.extension == 'docx'"  class="center-block" src="../../../assets/icone_file/word.png" alt="ffichier" style="width: 80px; height: 80px;">
              <img *ngIf="fichier.extension == 'pptx'"  class="center-block" src="../../../assets/icone_file/power%20.png" alt="ffichier" style="width: 80px; height: 80px;">
              <img *ngIf="fichier.extension == 'xlsx'"  class="center-block" src="../../../assets/icone_file/excel.png" alt="ffichier" style="width: 80px; height: 80px;">
              <img *ngIf="fichier.extension == 'png'
                   || fichier.extension == 'jpg'
                   || fichier.extension == 'jpeg'"  class="center-block" src="../../../assets/icone_file/img.png" alt="ffichier" style="width: 80px; height: 80px;">
              <img *ngIf="   fichier.extension != 'pdf'
                      && fichier.extension != 'docx'
                      && fichier.extension != 'pptx'
                      && fichier.extension != 'xlsx'
                      && fichier.extension != 'png'
                      && fichier.extension != 'jpg'
                      && fichier.extension != 'jpeg'"  class="center-block" src="../../../assets/icone_file/new.png" alt="ffichier" style="width: 80px; height: 80px;">

              <p class="black-text"><b>{{fichier.nomFichier.substr(0,25)}}</b></p>
              <p class="little-text">
                <i class="fa fa-clock-o"></i>
                Date : <b>
                {{fichier.dateArchivage | date:'dd/MM/yyyy' }}  a
                {{fichier.dateArchivage | date:'h:mm' }}</b>
              </p>
            </a>
            <div style="margin-top: 19px;">
              <span class="supp blue-text" (click)="alertInfoArchive(i)"><i class="fa fa-info-circle"></i> Détails</span>
              <span class="supp" (click)="allertSupprimerFichier(fichier.id,i)" style="margin-left: 12px; color: red"><i class="fa fa-trash"></i> Supprimer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


