<app-navbar></app-navbar>
<!-- 
    section pour le chargement -->
    <div class="preloader-wrapper white medium active" id="loading">
        <div class="spinner-layer spinner-white-only">
          <div class="circle-clipper left green darken-4">
            <!-- <div class="circle"></div> -->
          </div><div class="gap-patch">
            <!-- <div class="circle"></div> -->
          </div><div class="circle-clipper right grey darken-4">
            <!-- <div class="circle"></div> -->
          </div>
        </div>
      </div>
