<app-navbar></app-navbar>
<div class="container-fluid">
  <ul class="breadcrumbs">
    <li><a class="green-text" routerLink="/archive">Type archive</a></li>
  </ul>
</div>

<!-- section des statistiques -->
<div class="container section">

  <div class="row">
    <a *ngFor="let tpArchive of listTypeArchive let i = index" [queryParams]="{ type: tpArchive.libelleTypeArchive}"
       class="col s3 tab card-panel transparent hoverable center-align"
       routerLink="/dossier">
      <img src="../assets/icone_file/folder.png"/>
      <p class="grey-text text-darken-4 active" id="Tab"
         style="font-weight:bold;border-radius:100px">{{ tpArchive.libelleTypeArchive }}</p>
    </a>
  </div>

</div>
