<app-navbar></app-navbar>
<!-- section des statistiques -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- Nos visiteurs---------------------------------------------->
      <div class="col s12 m6 l3">
        <div class="card-panel center white" style="border-radius:20px;">
          <img src="../../../assets/animation/archive.gif" alt="" srcset="" width="100px;">
          <h6 class="green-text text-darken-3">ARCHIVES</h6>
          <h6 class="count green-text text-darken-3">1000</h6>
          <div class="progress grey">
            <div class="determinate green darken-2 " style="width: 50%;">
            </div>
          </div>
        </div>
      </div>
      <!-- Nos Message-------------------------------------------------->
      <div class="col s12 m6 l3">
        <div class="card-panel center white" style="border-radius:20px;">
          <img src="../../../assets/animation/message.gif" alt="" srcset="" width="100px;">
          <h6 class="yellow-text text-darken-3">MESSAGES</h6>
          <h6 class="count yellow-text text-darken-3">233</h6>
          <div class="progress grey">
            <div class="determinate yellow darken-3 " style="width: 10%;">
            </div>
          </div>
        </div>
      </div>
      <!--Nos commentaires -------------------------------------------------->
      <div class="col s12 m6 l3">
        <div class="card-panel center white" style="border-radius:20px;font-weight:bold;">
          <img src="../../../assets/animation/fichier.gif" alt="" srcset="" width="100px;">
          <h6 class="red-text text-darken-2">FICHIERS</h6>
          <h6 class="count red-text text-darken-2">2000</h6>
          <div class="progress grey">
            <div class="determinate red darken-2" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>
      <!--Nos utilisateurs -------------------------------------------------------------------->
      <div class="col s12 m6 l3">
        <div class="card-panel center white lighten-4" style="border-radius:20px;">
          <img src="../../../assets/animation/userprofile.gif" alt="" srcset="" width="100px;">
          <h6 class="grey-text text-darken-3">UTILISATEURS</h6>
          <h6 class="count grey-text text-darken-3">100</h6>
          <div class="progress grey lighten-1">
            <div class="determinate grey darken-3 " style="width: 5%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Diagramme des commentaires les plus récentes des visiteurs -------------------------------------->
<section class="section section-visiteur">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel white">
          <div id="chartContainer"
               style="height: 300px; width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
section pour le chargement -->
<div class="preloader-wrapper white medium active" id="loading">
  <div class="spinner-layer spinner-white-only">
    <div class="circle-clipper left green darken-4">
      <!-- <div class="circle"></div> -->
    </div>
    <div class="gap-patch">
      <!-- <div class="circle"></div> -->
    </div>
    <div class="circle-clipper right grey darken-4">
      <!-- <div class="circle"></div> -->
    </div>
  </div>
</div>

<!--<footer class="section grey darken-3 white-text center">-->
<!--  <p>-->
<!--    <i class="green-text" style="font-family: papyrus,serif; font-weight: bold;">Work<span class="yellow-text">-In-</span>-->
<!--      <span class="red-text">22</span>-->
<!--  </i> creat by XIDMATECH &copy; 2022 </p>-->
<!--</footer>-->
