<app-navbar></app-navbar>

<div class="row">
  <div class="col m8 l8 s12 transparent z-depth-4" style="border-radius: 20px; border: 2px solid green" id="barreArchive">
    <h5 class=" white-text center-align">
      <i class="fa fa-file-pdf-o"></i>
      <i class="fa fa-file-excel-o"></i>
      <i class="fa fa-file-word-o"></i>
           ARCHIVAGE</h5>
  </div>
  <!-- Loading....-->
  <div class="col s12 m12 l12" style="display: flex;justify-content: center" *ngIf="showPatienter">
    <div class="loading" style="margin-bottom: 20px;">
      <h2 class="patienter"><b>Archivage en cours...</b></h2>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!-- end loading....-->
  <form action="" [formGroup]="this.archiveService.dataForm" (ngSubmit)="addArchive()" enctype="multipart/form-data">
    <div class="col m8 l8 s12 transparent z-depth-4" style="margin-left: 250px;border-radius: 20px; border: 2px solid green">
      <div class="row">
        <div class="col m4 l4 s12">
          <div class="">
            <div class="">
              <label style="padding-left: 140px" class="control-label text-center ">Prévisualisation</label>
              <div style="margin-left: 100px">
                <img [src]="fileURL" style="width: 160px;height: 160px" alt="erreur de selection">
              </div>
              <p class="control-label black-text"><i class="fa fa-file-archive-o "></i>  {{nomFichier}}</p>
            </div>
            <div class="form-group" style="margin-bottom: 20px">
              <div class="preview-zone hidden">
                <div class="box box-solid">

                </div>
              </div>
              <div class="dropzone-wrapper">
                <div class="dropzone-desc">
                  <i class="glyphicon glyphicon-download-alt"></i>
                  <p>Cliquez pour choisir un fichier</p>
                </div>
                <input type="file" formControlName="file" class="dropzone" (change)="onSelectFile($event)" required>
              </div>
              <!-- -->
            </div>
          </div>
        </div>
        <div class="col m7 l7 s12 right">
          <div class="row">
            <div class="input-field col s12 m12 l12" [class.active-input]="activeNomFcihier">
              <input id="icon_prefix"  type="text" class="validate" formControlName="nomFichier" [attr.disabled]="!activeNomFcihier ? true : null" (change)="activeTypeFichier = true">
              <label for="icon_prefix">Nom du fichier</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l12" [class.active-input]="activeTypeFichier">
              <select class="select browser-default" (change)="loadListeTypeDossier($event)" [attr.disabled]="!activeTypeFichier ? true : null">
                <option value="" disabled selected>Type de fichier</option>
                <option data-icon="images/sample-1.jpg" class="left"
                        *ngFor="let type of listeTypeArchive">{{ type.libelleTypeArchive }} </option>
              </select>

            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l12"  [class.active-input]="activeEmplacement">
              <select class="browser-default" formControlName="dossier" (change)="loadListeDossier($event)" [attr.disabled]="!activeEmplacement ? true : null">
                <option value="" disabled selected>Choisir un emplacement</option>
                <option *ngFor="let doss of listeDossier">{{ doss.nomDossier }}</option>
                <option>Autre</option>
              </select>
              <a *ngIf="optionEmplacement" data-target="modalEmplacement" class="btn btn-small modal-trigger">
                <i class="material-icons left">add</i>emplacement</a>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l12" [class.active-input]="activeNatureFichier">
              <select class="browser-default" formControlName="nature" (change)="loadListeNature($event)" [attr.disabled]="!activeNatureFichier ? true : null">
                <option value="" disabled selected>Nature du fichier</option>
                <option data-icon="images/sample-1.jpg" class="left"
                        *ngFor="let nature of listeNature"> {{ nature.libelleNature }}</option>
                <option>Autre</option>
              </select>
              <a *ngIf="optionNature" data-target="modalNature" class="btn btn-small modal-trigger"><i
                class="material-icons left">add</i>nature</a>
            </div>
          </div>

        </div>
        <div class="col m12 l12">
          <button class="btn waves-green waves-light right"
                  type="submit"
                  name="action"
                  [attr.disabled]="!activeButtonValidation ? true : null"
                  style="border-radius: 100px;
                  background: rgb(6,6,6);
                  background: linear-gradient(90deg, rgba(6,6,6,1) 4%,
                  rgba(42,100,50,1) 41%, rgba(0,0,1,1) 94%);">Enregistrer
            <i class="material-icons left">save</i>
          </button>

        </div>
      </div>
    </div>
  </form>
</div>


<div id="modalNature" class="modal grey lighten-2">
  <div class="modal-header green darken-4">
    <div class="btn btn-floating tooltipped transparent right modal-close" data-position="bottom" data-tooltip="FERME">
      <i class="material-icons  white-text">close</i></div>
    <h5 class="white-text" style="font-family:serif;font-weight: bold;">Ajoutez la nature du fichier</h5>
  </div>
  <div class="modal-content">
    <form #fr="ngForm" id="formulaire" (ngSubmit)="addNature(fr.value)">
      <div class="input-field" style="font-weight: bold;">
        <i class="material-icons prefix grey-text text-darken-3">home</i>
        <input ngModel type="text" name="libelleNature" id="nature" required>
        <label for="nature" class="grey-text text-darken-3">Nature</label>
      </div>
      <div class="modal-footer transparent">
        <div class="center">
          <button type="reset" class="btn red darken-4 white-text hoverable" style="border-radius: 100px;">
            <i class="material-icons left">cancel</i>ANNULER
          </button>
          <button type="submit" class="btn green darken-4 white-text hoverable modal-close"
                   onclick="M.toast({html:'Nature ajouté avec succes'})"
                   style="border-radius: 100px;
                   margin-left: 20px;
                   background: rgb(6,6,6);
                   background: linear-gradient(90deg, rgba(6,6,6,1) 4%,
                   rgba(42,100,50,1) 41%, rgba(0,0,1,1) 94%);">
            <i class="material-icons left">save</i>ENREGISTRER
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div id="modalEmplacement" class="modal grey lighten-2">
  <div class="modal-header green darken-4">
    <div class="btn btn-floating tooltipped transparent right modal-close" data-position="bottom" data-tooltip="FERME">
      <i class="material-icons  white-text">close</i></div>
    <h5 class="white-text" style="font-family:serif;font-weight: bold;">Ajoutez l'année</h5>
  </div>
  <div class="modal-content">
    <form #f="ngForm" (ngSubmit)="addEmplacement(f.value)">
      <div class="input-field" style="font-weight: bold;">
        <i class="material-icons prefix grey-text text-darken-3">home</i>
        <input ngModel type="text" name="nomDossier">
        <label for="nature" class="grey-text text-darken-3">Emplacement (année)</label>
      </div>
      <div class="modal-footer transparent">
        <div class="center">
          <button type="reset" class="btn red darken-4 white-text hoverable" style="border-radius: 100px;">
            <i class="material-icons left">cancel</i>ANNULER
          </button>
          <button type="submit" class="btn green darken-4 white-text hoverable modal-close"
                  onclick="M.toast({html:'Emplacement ajouté avec succes'})"
                  style="border-radius: 100px;margin-left: 20px;">
            <i class="material-icons left">save</i>ENREGISTRER
          </button>
        </div>
      </div>
    </form>
  </div>
</div>



